<mat-toolbar color="primary">
  <h1>Gestion Client</h1>
</mat-toolbar>
<div style="overflow-y: scroll; height:500px;" class="col-md-12 col-md-offset-2">
  <div class="col-md-12 col-md-offset-2">
  
    <form [formGroup]="this.crudApi.formData" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id" id="id">
      <div class="row">
        <div class="form-group col-md-12">
          <label>Code</label>
          <input type="text" class="form-control" formControlName="code" id="code" readonly >
        </div>
        <div class="form-group col-md-4">
          <label>Nom :</label>
          <input type="text" class="form-control" formControlName="nom" id="nom">
        </div>
        <div class="form-group col-md-4">
          <label>prenom :</label>
          <input type="text" class="form-control" formControlName="prenom" id="prenom">
        </div>
     
        <div class="form-group col-md-4">
          <label>Genre  :</label>
          <input type="text" class="form-control" formControlName="genre" id="genre">
        </div>
        <div class="form-group col-md-4">
          <label>Date Naissance :</label>
          <input type="text" class="form-control" formControlName="dateNaissance" id="dateNaissance">
        </div>
        <div class="form-group col-md-4">
          <label>Lieu Naissance :</label>
          <input type="text" class="form-control" formControlName="lieu" id="lieu">
        </div>
        <div class="form-group col-md-4">
          <label>Nationalité : </label>
          <select class="form-control" formControlName="nationalite" id="nationalite" (change)="onChange($event)">
            <option value="0">-Select-</option>
            <option *ngFor="let item of nationaliteService.list" value="{{item.id}}">{{item.libelle}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Adresse :</label>
          <input type="text" class="form-control" formControlName="adresse" id="adresse">
        </div>
        <div class="form-group col-md-4">
          <label>Ville :</label>
          <input type="text" class="form-control" formControlName="ville" id="ville">
        </div>
        <div class="form-group col-md-4">
          <label>Telephone :</label>
          <input type="text" class="form-control" formControlName="tel" id="tel">
        </div>
        <div class="form-group col-md-4">
          <label>Gsm :</label>
          <input type="text" class="form-control" formControlName="gsm" id="gsm">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Email :</label>
          <input type="text" class="form-control" formControlName="email" id="email">
        </div>
      
        <div class="form-group col-md-4">
          <label for="email">Etat Civil :</label>
          <input type="text" class="form-control" formControlName="etatCivil" id="etatCivil">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Nombre d'enfant :</label>
          <input type="text" class="form-control" formControlName="nbrEnfant" id="nbrEnfant">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Nom Conjoint :</label>
          <input type="text" class="form-control" formControlName="nomConjoint" id="nomConjoint">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Lien Parenté  :</label>
          <input type="text" class="form-control" formControlName="lienParente" id="lienParente">
        </div>
        
        <div class="form-group col-md-4">
          <label for="email">Taille :</label>
          <input type="text" class="form-control" formControlName="taille" id="taille">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Poids :</label>
          <input type="text" class="form-control" formControlName="poids" id="poids">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Goupe Sanguin :</label>
          <input type="text" class="form-control" formControlName="grSanguin" id="grSanguin">
        </div>
        
        <div class="form-group col-md-4">
          <label>Profession :</label>
          <input type="text" class="form-control" formControlName="profession" id="profession">
        </div>
        <div class="form-group col-md-4">
          <label>Domaine : </label>
          <select class="form-control" formControlName="domaine" id="domaine" (change)="onChange($event)">
            <option value="0">-Select-</option>
            <option *ngFor="let item of domaineService.list" value="{{item.id}}">{{item.libelle}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Identifiant unique :</label>
          <input type="text" class="form-control" formControlName="identUnique" id="identUnique">
        </div>
        <div class="form-group col-md-4">
          <label>Prise En Charge :</label>
          <input type="text" class="form-control" formControlName="priseEncharge" id="priseEncharge">
        </div>
        <div class="form-group col-md-4">
          <label>Medecin : </label>
          <select class="form-control" formControlName="medecin" id="medecin" (change)="onChange($event)">
            <option value="0">-Select-</option>
            <option *ngFor="let item of medecinService.list" value="{{item.id}}">{{item.nom }}{{item.prenom}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Mots Clés  :</label>
          <input type="text" class="form-control" formControlName="motcles" id="motcles">
        </div>
        <div class="form-group col-md-4">
          <label>Code Apci  :</label>
          <input type="text" class="form-control" formControlName="codeApci" id="codeApci">
        </div>
        <div class="form-group col-md-4">
          <label>Regime Cnam  :</label>
          <input type="text" class="form-control" formControlName="regimeCnam" id="regimeCnam">
        </div>
        <div class="form-group col-md-4">
          <label>Date Validation :</label>
          <input type="text" class="form-control" formControlName="datevalidite" id="datevalidite">
        </div>
        <div class="form-group col-md-4">
          <label>Assureur : </label>
          <select class="form-control" formControlName="assureur" id="assureur" (change)="onChange($event)">
            <option value="0">-Select-</option>
            <option *ngFor="let item of assureurService.list" value="{{item.id}}">{{item.libelle}}</option>
          </select>
        </div>
      </div>
        <div class="form-group">
          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
          <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
            <i class="fa fa-close"></i> Close</button>
        </div>
    </form>
  </div>
</div>