<mat-toolbar color="primary">
    <h1>Statistique Des ventes</h1>
  </mat-toolbar>
 <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="lineChart()">Line Chart</button>
    <button type="submit" class="btn btn-success" (click)="barChart()">Bar Chart</button>
    <button type="submit" class="btn btn-info" (click)="pieChart()">Pie Chart</button>
    <button type="submit" class="btn btn-default" (click)="bubbleChart()">Bubble Chart</button>
    <button type="submit" class="btn btn-warning" (click)="doughChart()">Doughtnut  Chart</button>
    <button type="submit" class="btn btn-danger" (click)="radarChart()">Radar Chart</button>
    
  </div>